{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles%}
{% load blog_tags keyword_tags i18n mezzanine_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        {% if gallery %}{% with gallery.images.all as images %}
</br>

        <div id="main-slider" class="flexslider">
            <ul class="slides">
              {% for image in images %}
              <li>
                <img src="{{ image.file.url }}" alt="" />
                <div class="flex-caption">
                    <h3>{{ image.description }}</h3> 
                </div>
              </li>
              {% endfor %}
            </ul>
        </div>
	<!-- end slider -->
        {% endwith %}{% endif %}
			</div>
		</div>
	</div>	

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
{% blog_recent_posts 4 as featured_posts %}
{% if featured_posts %}
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Recent Posts</h4>
				<div class="row">
                                        {% for blog_post in featured_posts %}
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h3><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h3>
                                                                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
			                                        <a href="{{ blog_post.get_absolute_url }}">
				                                  <img class="" src="{{ MEDIA_URL }}{{blog_post.featured_image}}">
			                                        </a>
			                                        {% endif %}
								<p class="">
                                                                  {{ blog_post.description_from_content|truncatewords_html:20|safe }}
								</p>
									
							</div>
						</div>
					</div>
                                        {% endfor %}
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		

	</div>
	</section>
{% endif %}
{% endblock %}
